<!DOCTYPE HTML>

<html id="top" lang="ja">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<meta content="大阪工業大学 工学部 機械工学科、大学院工学研究科 機械工学コースの公式Webサイトです。" name="description"/>
<title>大阪工業大学 工学部 機械工学科　大学院工学研究科 電気電子・機械工学専攻 機械工学コース</title>
<!-- Google Tag Manager  2023.05.10設置(広告効果検証用)問い合わせ先：企画課田中-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P7XMGGZ');</script>
<!-- End Google Tag Manager   2023.05.10設置(広告効果検証用)問い合わせ先：企画課田中-->
<link href="/med/assets/css/style.css" rel="stylesheet"/>
<script type="text/javascript">
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-6613680-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="theme-kikai">
<header class="st-Header" id="Header">
<div class="st-Header_Bar">
<ul class="st-Assist">
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/japanese/access/access_omiya.html" target="_blank">交通アクセス</a></li>
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/" target="_blank">大阪工業大学</a></li>
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/japanese/academic/eng/" target="_blank">工学部</a></li>
<li class="st-Assist_Item"><a href="/med/campus_materials/">学内専用</a></li>
</ul>
</div>
<div class="st-Header_Inner">
<h1 class="st-Header_Logo">
<a href="/med/">
<picture>
<source media="(min-width:768px)" srcset="/med/assets/img/common/logo.png"/>
<source media="(max-width:767px)" srcset="/med/assets/img/common/logo_sp.png"/>
<img alt="大阪工業大学 工学部 機械工学科　大学院工学研究科 電気電子・機械工学専攻 機械工学コース" srcset="/med/assets/img/common/logo_sp.png"/>
</picture>
</a>
</h1>
<nav class="st-Menu" id="Menu">
<div class="st-Menu_Btn">
<a aria-selected="false" class="sw-Menu" href="#MenuBody" id="MenuBtn">
<span class="sw-Menu_Item -top"></span>
<span class="sw-Menu_Item -center"></span>
<span class="sw-Menu_Item -bottom"></span>
</a>
</div>
<div class="st-Menu_Body" id="MenuBody">
<div class="st-Menu_Inner">
<ul class="st-Global" id="Global">
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody1">
<div class="st-Global_Head">
<a class="st-Global_Link" href="/med/introduction/">学科紹介</a>
<button aria-control="GlobalBody1" aria-selected="false" class="st-Global_Btn">Open</button>
</div>
<div class="st-Global_Body">
<ul class="st-Global_Children">
<li class="st-Global_Children_Item"><a class="st-Global_Children_Link" href="/med/introduction/pbl.html">国際PBL</a></li>
<li class="st-Global_Children_Item"><a class="st-Global_Children_Link" href="/med/introduction/report.html">海外留学</a></li>
</ul>
</div>
</li>
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody2">
<a class="st-Global_Link" href="/med/rpc/">研究推進クラス</a>
</li>
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody2">
<a class="st-Global_Link" href="/med/curriculum/">カリキュラム</a>
</li>
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody3">
<a class="st-Global_Link" href="/med/staff_lab/">教員・研究室</a>
</li>
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody4">
<a class="st-Global_Link" href="/med/career/">進路・就職</a>
</li>
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody5">
<a class="st-Global_Link" href="/med/graduate/">大学院</a>
</li>
<li aria-expanded="false" class="st-Global_Item" id="GlobalBody6">
<a class="st-Global_Link" href="https://www.instagram.com/oit.mech/">Instagram</a>
</li>
</ul>
<ul class="st-Assist">
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/japanese/access/access_omiya.html" target="_blank">交通アクセス</a></li>
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/" target="_blank">大阪工業大学</a></li>
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/japanese/academic/eng/" target="_blank">工学部</a></li>
<li class="st-Assist_Item"><a href="/med/campus_materials/">学内専用</a></li>
</ul>
</div>
</div>
</nav>
</div>
</header>
<div class="st-Sticky" id="Sticky">
<div class="st-Sticky_Bar">
<ul class="st-Assist">
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/japanese/access/access_omiya.html" target="_blank">交通アクセス</a></li>
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/" target="_blank">大阪工業大学</a></li>
<li class="st-Assist_Item"><a href="http://www.oit.ac.jp/japanese/academic/eng/" target="_blank">工学部</a></li>
<li class="st-Assist_Item"><a href="/med/campus_materials/">学内専用</a></li>
</ul>
</div>
<div class="st-Sticky_Inner" id="StickyInner">
<div class="st-Sticky_Logo"><a href="/med/"><img alt="大阪工業大学 工学部 機械工学科　大学院工学研究科 電気電子・機械工学専攻 機械工学コース" src="/med/assets/img/common/logo_sp.png"/></a></div>
</div>
</div>
<main class="tp-Main">
<div class="kikai-Main" id="kikaiMain">
<div class="kikai-Main_Inner">
<div class="kikai-Main_Copy">
<span class="kikai-Main_Copy_Inner">機械の「基礎」と「最先端」を学び、</span><br/>
<span class="kikai-Main_Copy_Inner">産業の明日を創造する。</span>
</div>
<div class="kikai-Main_Images" id="kikaiMainImages">
<div class="kikai-Main_Images_Item"><img alt="" class="sw-ObjectFit" src="./assets/img/top/main6.png"/></div>
<div class="kikai-Main_Images_Item"><img alt="" class="sw-ObjectFit" src="./assets/img/top/main7.png"/></div>
<div class="kikai-Main_Images_Item"><img alt="" class="sw-ObjectFit" src="./assets/img/top/main8.png"/></div>
<div class="kikai-Main_Images_Item"><img alt="" class="sw-ObjectFit" src="./assets/img/top/main9.png"/></div>
<div class="kikai-Main_Images_Item"><img alt="" class="sw-ObjectFit" src="./assets/img/top/main5.png"/></div>
</div>
<div class="kikai-Main_Scroll">
<div class="kikai-Main_Scroll_Text">Scroll</div>
</div>
</div>
<div class="kikai-Main_Loader" id="kikaiMainLoader">
<div class="sw-Loader -center"></div>
</div>
</div>
<div class="kikai-TopContents">
<section class="kikai-News" id="kikaiNews">
<div class="kikai-News_Inner">
<h2 class="kikai-News_Title">News &amp; topics</h2>
<div :class="{'kikai-News_Select': true, '-open': isOpen}">
<a @click.prevent="dropdown" class="kikai-News_Select_Label" href="#">{{ current }}</a>
<ul class="kikai-News_Tab">
<li class="kikai-News_Tab_Item"><a :class="{'kikai-News_Tab_Link': true, '-current': current === 'すべて'}" @click.prevent="tab('すべて')" href="#">すべて</a></li>
<li class="kikai-News_Tab_Item"><a :class="{'kikai-News_Tab_Link': true, '-current': current === '学生活動'}" @click.prevent="tab('学生活動')" href="#">学生活動</a></li>
<li class="kikai-News_Tab_Item"><a :class="{'kikai-News_Tab_Link': true, '-current': current === '研究活動'}" @click.prevent="tab('研究活動')" href="#">研究活動</a></li>
<li class="kikai-News_Tab_Item"><a :class="{'kikai-News_Tab_Link': true, '-current': current === '受賞・表彰'}" @click.prevent="tab('受賞・表彰')" href="#">受賞・表彰</a></li>
<li class="kikai-News_Tab_Item"><a :class="{'kikai-News_Tab_Link': true, '-current': current === 'イベント'}" @click.prevent="tab('イベント')" href="#">イベント</a></li>
<li class="kikai-News_Tab_Item"><a :class="{'kikai-News_Tab_Link': true, '-current': current === 'その他'}" @click.prevent="tab('その他')" href="#">その他</a></li>
</ul>
</div>
</div>
<div class="kikai-News_Contents">
<div class="kikai-News_Inner">
<p class="kikai-News_Empty" v-if="activeNews.length === 0">現在{{ current }}に関するお知らせはありません。</p>
<div class="kikai-News_List">
<article :class="{'kikai-News_List_Item': true, '-large': (i === 0 &amp;&amp; !isNotAll) || (i === 5  &amp;&amp; !isNotAll)}" :key="i" v-for="(item, i) in activeNews">
<a :href="'./news/#/' + item.basename" class="kikai-News_List_Link">
<div class="kikai-News_List_Thumb">
<img :src="getSrc(item.basename + '_1')" alt="" class="kikai-News_List_Img -thumb1 sw-ObjectFit" v-if="!isNotAll"/>
<img :src="getSrc(item.basename + '_2')" alt="" class="kikai-News_List_Img -thumb2 sw-ObjectFit"/>
</div>
<header class="kikai-News_List_Header">
<div class="kikai-News_List_Column">
<time class="kikai-News_List_Time">{{ displayDate(item.date) }}</time>
<div class="kikai-News_List_Category">{{ item.category[0] }}</div>
</div>
<h3 class="kikai-News_List_Title">{{ item.title }}</h3>
</header>
</a>
</article>
</div>
<div class="sw-Center">
<a class="sw-Btn" href="./news/">More</a>
</div>
</div>
</div>
</section>
</div>
</main>
<footer class="kikai-Footer">
<div class="sw-Page2Top"><a href="#top">ページ上部へ戻る</a></div>
<div class="kikai-Footer_Inner">
<div class="kikai-Footer_Logo"><a href="http://www.oit.ac.jp/" target="_blank"><img alt="" src="/med/assets/img/common/logo_footer.png"/></a></div>
<div class="kikai-Footer_Info">
<ul class="kikai-Footer_List">
<li class="kikai-Footer_List_Item"><a href="http://www.oit.ac.jp/japanese/access/access_omiya.html" target="_blank">交通アクセス</a></li>
<li class="kikai-Footer_List_Item"><a href="http://www.oit.ac.jp/" target="_blank">大阪工業大学</a></li>
<li class="kikai-Footer_List_Item"><a href="http://www.oit.ac.jp/japanese/academic/eng/" target="_blank">工学部</a></li>
<li class="kikai-Footer_List_Item"><a href="https://oitmed-homecoming.com">同窓会</a></li>
<li class="kikai-Footer_List_Item"><a href="/med/campus_materials/">学内専用</a></li>
</ul>
<div class="kikai-Footer_Copyright"><small>Copyright © Osaka Institute of Technology, All rights reserved.</small></div>
</div>
</div>
</footer>
<script defer="" src="/med/assets/js/bundle.js"></script>
<!-- Google Tag Manager (noscript)   2023.05.10設置(広告効果検証用)問い合わせ先：企画課田中-->
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-P7XMGGZ" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<!-- End Google Tag Manager (noscript)    2023.05.10設置(広告効果検証用)問い合わせ先：企画課田中-->
</body>
</html>
